<% provide(:title, 'About Us') %>
<h1>About</h1>
<p>
	This is a website that I am making for tutorial reasons. It's pretty cool, no? 
</p>
<p>
	Why not click <a href = "http://raistutorial.org/">here</a> to go see it?
</p>
