<footer class="footer">
	<small>
		By Chris Lamb, dutifully following a tutorial that you can find here: <%= link_to "Rails Tutorial", 'http://railstutorial.org' %>
	</small>
	<nav>
		<ul>
			<li> <%= link_to "About",   about_path %> </li>
			<li> <%= link_to "Help",    help_path %> </li>
			<li> <%= link_to "Contact", contact_path %> </li>
		</ul>
	</nav>
</footer>